.back-id {

    .back-details {

        color: white;
    }

    .email {
        position: absolute;
        z-index: 200;
        right: 10px;
        bottom: 10px;
        color: white;
        font-weight: 600;
        font-size: 8px;
    }
}