.header {
  // position: fixed;
  // width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
  background: linear-gradient(to bottom, #FF9933 33.33%, #FFFFFF 33.33% 66.66%, #138808 66.66%);
  color: black;
  font-weight: bold;


  .logo {
    font-weight: 500;
    font-size: 1.25rem;
  }

  .logout {
    cursor: pointer;



  }
}